.body {
    background: burlywood;
    height: 100vh;
}

/* .navbar {
    background-color: cornflowerblue;
} */

.carouselHome{
    height: 100%;
    width: 100%;
    
}
.CardBody{
    color: cadetblue;
}