.containerGame {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darkgoldenrod;
}

.wrapper {
    width: 100%;
    background-color:darkgoldenrod;
}

.wrapper3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.user {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    margin-right: 15%;
    justify-content: center;
    align-items: center;
}

.box4 {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 8rem;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.suit{
    border-radius: 0%;
    max-width:5rem;
    height: 5rem;
    align-content: center;
    
}

.box3 {
    display: flex;
    flex-direction: row;
    height: 8rem;
    width: 8rem;
    border-radius: 10%;
    background-color: whitesmoke;
    padding-left: 1rem;
    padding-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.mid {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;  
}

.result {
    display: flex;
    flex-direction: column;
    width: 12rem;
    height: 8rem;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    color:darkorange;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
}

.com {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: fit-content;
    margin-left: 12%;
}

.refresh {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    height: 5rem;
    width: 5rem;
}

.box2 {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    background-color: darkgoldenrod;
}

.refBtn{
    border-radius: 0%;
    max-width:2rem;
    height: 2rem;
    align-content: center;
    background-color: transparent;
}

.cwin {
    display: flex;
    flex-direction: column;
    width: 12rem;
    height: 8rem;
    background: #4C9654;
    border-radius: 10px;
    transform: rotate(-28.87deg);
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: whitesmoke;
    padding: 1rem;
    text-align: center;
}

.pwin {
    display: flex;
    flex-direction: column;
    width: 12rem;
    height: 8rem;
    background: #4C9654;
    border-radius: 10px;
    transform: rotate(-28.87deg);
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: whitesmoke;
    padding: 1rem;
    text-align: center;
}

.draw {
    display: flex;
    flex-direction: column;
    width: 12rem;
    height: 8rem;
    background:#035B0C;
    border-radius: 10px;
    transform: rotate(-28.87deg);
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: whitesmoke;
    padding: 1rem;
    text-align: center;
}
    


