  
 /* .container1 {
    min-height: 100vh;
    display: flex;
    font-weight: 400;
    font-family: sans-serif;
    background: #00285c; 
    background: -webkit-linear-gradient(to right, #bda16d, #c79029, #5c4404);  
    background: linear-gradient(to right,  #bda16d, #c79029, #5c4404); 
    
  } */
/*   
  body, html, .App, #root, .outer {
    width: 100%;
    height: 100%;
  }
   */

  .outer{
    background-color: #00285c;
    min-height: 100vh;
    display: flex;
    font-weight: 400;
    font-family: sans-serif;
    background: #00285c; 
    background: -webkit-linear-gradient(to right, #bda16d, #c79029, #5c4404);  
    background: linear-gradient(to right,  #bda16d, #c79029, #5c4404); 
  }
/* 
  .navbar-light {
    background-color: #2b200ce7;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  }
   */
  .outer {
    display: flex;
    justify-content:center;
    flex-direction: column;
    text-align: left;
  }
  
  .inner {
    width: 460px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 16px 80px rgba(64, 73, 187, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
  }
  
  .outer .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
  }
  
  .outer h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
  }
  
  .custom-control-label {
    font-weight: 400;
  }
  
  .forgot-password,
  .forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
  }
  
  .forgot-password a {
    color: #167bff;
  }